<div class="container">
  <h1 class="text-center">List Product</h1>
  <a routerLink="/products/create" routerLinkActive="active">Create Product</a>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.url}}</td>
      </tr>
    </tbody>
  </table>
</div>
